*{
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'DancingScript';
  src: url(../fonts/DancingScript.ttf);
}
.contenido{
/*  position: relative;*/
  width: 900px;
  height: 100%;
  margin: 0 auto;
  animation: slidein 1s;
}
body{
  width: 100%;
  background-color:  #02010a;
}
header{
  width: 900px;
  padding: 0 30px;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100px;
  background-color: #5b7989;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#opciones{
  padding: 10px;
  width: 100%;
  float: right;
  text-align: right;
  clear: right;
  list-style-type: none;
}
#opciones li{
  display: inline-block;
  text-align: right;
}
#opciones li a{
  padding: 10px;
  font-family: 'DancingScript';
  text-decoration: underline;
  color: white;
  font-size: 1.2em;
}
#opciones li a[href^='#']{
  text-decoration: none;
  float: left;
  display: inline-block;
  padding: 0 250px 0 0;
  text-align: left;
  overflow: visible;
  left: 0;
  top: 0;
  font-size: 2.1em;
  text-shadow: 2px 2px #02010a;
}
#menu-principal #opciones li a[href^='in']{
  text-decoration: none;
}
#menu-paisajes #opciones li a[href^='pa']{
  text-decoration: none;
}
#menu-retratos #opciones li a[href^='re']{
  text-decoration: none;
}
footer{
  clear: both;
  width: 900px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  height: 120px;
  padding: 0 30px;
  font-family: 'DancingScript';
  background-color: #C6d5c5;
}
.contenedor{
  display: flex;
  display: -webkit-flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
  }
.contenedor a{
  color: black;
  text-decoration: none;
}
.contacto{
  margin-top: 20px;
  order: 1;
  flex: 1;
}
.termino{
  margin-top: 20px;
  order: 2;
  flex: 1;
}
.redes{
  margin-top: 20px;
  order: 3;
  flex: 1;
}
.derechos{
  margin-top: 20px;
  order: 4;
  flex: 1;
}
/** PANTALLA PRINCIPAL **/
#pantalla-principal{
  width: 900px;
  height: 300px;
  margin: 0 auto;
  padding: 0 30px;
  margin-top: -4px;
  background-color: #82c3a6;
}
#pantalla-principal img{
width:70%;
height: 70%;
margin-top: 5%;
margin-left: 15%;
text-align: center;
justify-content: center;
}
#pantalla-secundaria{
  display: flex;
  flex-flow: row;
  width: 900px;
  height: 300px;
  margin: 0 auto;
  padding: 0 30px;
  margin-top: 0;
  background-color: #d5c75f;
  border: 1px;
}
.paisaje-link{
  /*display: flex;
  flex-flow: column;*/
  width: 50%;
  margin: 1%;
  transition: ls;
}
.paisaje-link img{
  width: 80%;
  height: 80% ;
  margin: 0 auto;
  justify-content: center;
  margin-top: 30px;
}
.paisaje-link:hover{
  transform: rotate(10deg);
  box-shadow: #82c3a6;
  border: 2px;
}

.retrato-link{
  /*display: flex;
  flex-flow: column;*/
  width: 50%;
  margin: 1%;
  transition: ls;
}
.retrato-link img{
  width: 80%;
  height: 80%;
  margin: 0 auto;
  justify-content: center;
  margin-top: 30px;
}
.retrato-link:hover{
  transform: translate(20px,-5px);
  shadow: #82c3a6;
}
figure {
	text-align: center;
	margin: 0 auto;
}
/** PAISAJES -RETRATOS **/
.lista {
  width: 900px;
  margin-top: -4px;
  height: 400px;
  padding: 0 30px;
  background-color: lightyellow;
}
.lista .imagenes{
  display: flex;
  flex-wrap: wrap;
}
.lista .imagenes li{
  list-style: none;
}
.lista .imagenes li img{
  position: relative;
  width: 250px;
  height: 150px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.imagen1{
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);
  filter: blur(10px);
}
.imagen3{
  -webkit-filter: sepia(90%);
  -moz-filter: sepia(90%);
  -ms-filter: sepia(90%);
  -o-filter: sepia(90%);
  filter: sepia(90%);
}
.imagen2, .imagen4, .imagen6{
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
filter: grayscale(100%);
}
/*  ANIMACION */
@-webkit-keyframes slidein{
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -5%;
  }
  100%{
    margin-top: 0%;
  }
}
