@font-face {
  font-family: 'DancingScript';
  src: url(../fonts/DancingScript.ttf);
}
body{
  width: 100%;
  background-color: black;
}
header{
  padding: 0 30px;
  margin: 0;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  display: inline-block;
  left: 15%;
  right: 15%;
  height: 100px;
  width: 900px;
  background-color: #5b7989;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/**#menu-principal ul{
    float: left;
    list-style-type: none;
    padding: 0;
    position: relative;
    left: 50%;
}**/
/**#menu-principal li{
   float: left;
   position: relative;
   right: 50%;
}**/
#opciones{
  padding: 10px;
  width: 100%;
  float: right;
  text-align: right;
  clear: right;
  list-style-type: none;
}
#opciones li{
  display: inline-block;
  text-align: right;
}
#opciones li a{
  padding: 10px;
  font-family: 'DancingScript';
  text-decoration: underline;
  color: white;
  font-size: 1.2em;
}
#opciones li a[href^='#']{
  text-decoration: none;
  float: left;
  display: inline-block;
  padding: 0 250px 0 0;
  text-align: left;
  position: relative;
  overflow: visible;
  left: 0;
  top: 0;
  font-size: 2.1em;
  text-shadow: 2px 2px #02010a;
}
#menu-principal #opciones li a[href^='in']{
  text-decoration: none;
}
#menu-paisajes #opciones li a[href^='pa']{
  text-decoration: none;
}
#menu-retratos #opciones li a[href^='re']{
  text-decoration: none;
}
footer{
  clear: both;
  position: fixed;
  bottom: 0;
  font-family: 'DancingScript';
  background-color: #C6d5c5;
}
.contenedor a{
  color: black;
  text-decoration: none;
}
